body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(-180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 257, 0.38););
    min-height: 100vh;
}
.page {
   width: 1000px;
   margin: 0 auto;
   padding-top: 65px;
}

nav {
    font-size: 18px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;


}

ul {
    font-family: "Mulish", sans-serif;
    display: flex;
    gap: 49px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
    
}

ul li a{
    text-decoration: none;
    color: #1F1534;
    opacity: 0.5;
}

ul li a:hover {
    font-weight: bold;
    opacity: 1;
}

h1{
    font-family: "Mulish", sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: normal;
    color: #1F1534;
}

h1 span {
    color: #89C5CC;
    font-weight: bold;
}

section p{
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    font-weight: normal;
    margin: 40px 0;
}
p span {
    font-weight: bold;
}

button {

    color: white;
    text-transform: uppercase;

    background: #69B99D;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px 32px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #69B99D;
}

footer {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
}

footer a {
    font-weight: bold;

}

#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}